* {
  background-color: rgb(246, 248, 250);
}
header {
  height: 3%;
  background-color: rgb(5, 10, 73);
}
.logo {
  height: 3vh;
  padding: 20px;
  background-color: rgb(5, 10, 73);
}

.container {
  display: flex;
  flex-direction: row;
}

/* .left-container {
  width: 20vw;
  flex: 1;
} */

.right-container {
  background-color: white;
  flex-grow: 1;
}
